Import pandas as pd

In [5]:
import pandas as pd

Read Salaries.csv as a dataframe called 'sal'

In [6]:
sal=pd.DataFrame(pd.read_csv('Salaries.csv'))

Check the head of the DataFrame

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

Use the ```.info()``` method to find out how many entries there are.

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

What is the average BasePay?

In [5]:
sal['BasePay'].mean()

66325.44884050643

What is the highest amount of OvertimePay in the dataset?

In [6]:
sal['OvertimePay'].max()

245131.88

What is the job title of JOSEPH DRISCOLL?

*Note: use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll)*

In [7]:
sal.loc[sal['EmployeeName']=='JOSEPH DRISCOLL','JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

How much does JOSEPH DRISCOLL make (including benifts)?

In [8]:
sal.loc[sal['EmployeeName']=='JOSEPH DRISCOLL','TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

What is the name of the highest paid person(including benefits)?

do you notice something strange about how much he or she is paid?

In [17]:
sal.loc[sal['TotalPayBenefits']== sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

What was the average (mean) BasePay of all employees per year (2011-2014)?

In [34]:
sal.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

How many unique job titles are there?

In [40]:
sal['JobTitle'].nunique()

2159

What are the top 5 most common jobs?

In [55]:
sal.groupby('JobTitle')['JobTitle'].count().sort_values(ascending=False).head()

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

How many job titles were represented by only one person in 2013?

*(e.g. JobTitles with only one occurance in 2013)*

In [60]:
sal.loc[(sal['Year']==2013)].groupby('JobTitle')['JobTitle'].filter(lambda x: x.count() ==1).count()

202

How many people have the word "Chief" in their job title?

In [78]:
sal.loc[(sal['JobTitle'].str.contains('Chief', regex=False,case=True)),'JobTitle'].count()

423

Is there a correlation between length of the Job Title string and Salary?

In [80]:
sal.

,0,1,2,3,4,5,6,7,8,9,...,148644,148645,148646,148647,148648,148649,148650,148651,148652,148653
Id,1,2,3,4,5,6,7,8,9,10,...,148645,148646,148647,148648,148649,148650,148651,148652,148653,148654
EmployeeName,NATHANIEL FORD,GARY JIMENEZ,ALBERT PARDINI,CHRISTOPHER CHONG,PATRICK GARDNER,DAVID SULLIVAN,ALSON LEE,DAVID KUSHNER,MICHAEL MORRIS,JOANNE HAYES-WHITE,...,Randy D Winn,Carolyn A Wilson,Not provided,Joann Anderson,Leon Walker,Roy I Tillery,Not provided,Not provided,Not provided,Joe Lopez
JobTitle,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,CAPTAIN III (POLICE DEPARTMENT),CAPTAIN III (POLICE DEPARTMENT),WIRE ROPE CABLE MAINTENANCE MECHANIC,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",ASSISTANT DEPUTY CHIEF II,"BATTALION CHIEF, (FIRE DEPARTMENT)",DEPUTY DIRECTOR OF INVESTMENTS,"BATTALION CHIEF, (FIRE DEPARTMENT)","CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",...,"Stationary Eng, Sewage Plant",Human Services Technician,Not provided,Communications Dispatcher 2,Custodian,Custodian,Not provided,Not provided,Not provided,"Counselor, Log Cabin Ranch"
BasePay,167411,155966,212739,77916,134402,118602,92492,256577,176933,285262,...,0,0,NaN,0,0,0,NaN,NaN,NaN,0
OvertimePay,0,245132,106088,56120.7,9737,8601,89062.9,0,86362.7,0,...,0,0,NaN,0,0,0,NaN,NaN,NaN,0
OtherPay,400184,137811,16452.6,198307,182235,189083,134426,51322.5,40132.2,17115.7,...,0,0,NaN,0,0,0,NaN,NaN,NaN,-618.13
Benefits,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,0,0,0,NaN,NaN,NaN,0
TotalPay,567595,538909,335280,332344,326373,316286,315981,307899,303428,302378,...,0,0,0,0,0,0,0,0,0,-618.13
TotalPayBenefits,567595,538909,335280,332344,326373,316286,315981,307899,303428,302378,...,0,0,0,0,0,0,0,0,0,-618.13
Year,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,...,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014
Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Agency,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,...,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
Status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN